<!-- views/diary.ejs -->
<!doctype html>
<html>
<head>
    <title>Thankful</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/datepicker3.css">
    <link rel="stylesheet" href="/css/common.css">
    <!--scripts-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/locales/bootstrap-datepicker.es.js"></script>


    <script>
        jQuery.validator.setDefaults({
            debug: false,
            success: "valid"
        });
        $( document ).ready(function() {
            $('#date-selection').datepicker({
                language: '<%= locale %>',
                endDate: '+0d',
                todayHighlight: true
            }).on('changeDate', function(e){
                var year = e.date.getFullYear();
                var month = e.date.getMonth()+1;
                var day = e.date.getDate();
                document.location = '/diary?selected_date=' + year.toString()+"-"+month.toString()+"-"+day.toString();
        });
        });

    </script>
</head>
<body>
<div class="container ">

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="col-sm-6 ">
        <div id="date-selection"></div>
        <div class="titles">
                <span class="sub-title">
                <%= __('Pick a day to read that day') %>
            </span>
        </div>
        <br>
        <br>
        <div class="post_button">
            <a href="/logout" class="btn btn-lg happy-button"><%= __('Logout') %></a>
        </div>
    </div>
    <div class="col-sm-6 text-center">
        <div class="titles">
            <% if (enabled) {%>
                <% if(!done) {%>
                    <span class="sub-title-strong">
                        <%= __('Write down 3 things that made you happy today') %>
                    </span>
                    <br>
                     <span class="sub-title">
                        <%= __('Remember, it does not need to be something important. Anything will do.') %>
                    </span>
                <% } else {%>
                    <span class="sub-title-strong">
                        <%= __('Done for today') %>
                    </span>
                <% }%>
            <%} else {%>
                    <span class="sub-title-strong">
                        <% if (thoughts.length > 0) {%>
                            <%= __('This are the things that made you happy that day') %>
                        <% } else {%>
                            <%= __('No records for that day') %>
                        <% }%>
                    </span>
            <% } %>
        </div>
        <% if (enabled) {%>
            <% if(!done) {%>
                <div class="happy_post">
                    <form id="post" action="/post" method="post">

                        <div class='happy-post'>
                            <textarea rows="5" name="content" placeholder=" <%= __('I fed an indigent pidgeon at lunch...') %>" required></textarea>
                        </div>

                        <div class="post-button">
                            <button type="submit" class="btn btn-lg happy-button"> <%= __('Post') %></button>
                        </div>
                    </form>
                </div>
            <% }%>
        <% } %>

        <div class="thought-list">
            <% thoughts.forEach( function ( thought ){ %>
            <blockquote>
                <span>
                  <%= thought.content %>
                </span>
                <% if (enabled) {%>
                    <span>
                      <a href="/destroy/<%= thought._id %>" title="Delete this one"> <span class="glyphicon glyphicon-minus-sign red"></span></a>
                    </span>
                <% }%>
            </blockquote>
            <% }); %>
        </div>
    </div>
</div>
</body>
</html>